{% extends "layout.html" %}

{% block body %}
<!--======================================================  Drawing =======================================================-->

<section class="drawing_teaching_container">
    <h1>How to use Drawing Mode</h1>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="dt_card">
                <img src="static\image\teaching\drawing_mode\DrawGesture.png">
            </div>
            <div class="dt_body">
                <h3>Draw</h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="dt_card">
                <img src="static\image\teaching\drawing_mode\HoldGesture.png">
            </div>
            <div class="dt_body">
                <h3>Hold</h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="dt_card">
                <img src="static\image\teaching\drawing_mode\DeleteGesture.png">
            </div>
            <div class="dt_body">
                <h3>Delete</h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6">
            <div class="dt_card">
                <img src="static/image/teaching/drawing_mode/EnterGesture3.png">
            </div>
            <div class="dt_body">
                <h3>Enter</h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6">
            <div class="dt_card">
                <img src="static\image\teaching\drawing_mode\PredictGesrture2.png">
            </div>
            <div class="dt_body">
                <h3>Predict</h3>
            </div>
        </div>
    </div>
</section>

<section class="asl_teaching_container">
    <h1>How to use ASL Alphabet Mode</h1>    
    <img src="static\image\teaching\Sign_alphabet_chart_abc.jpg">
</section>

{% endblock %}